<footer>
    <a href="/" class="footer-content">
        <img src="/public/images/logo1.jpg" alt="Coffee Logo" class="footer-logo">
    </a>
    <p>© 2025 Lowfee Coffee. All rights reserved.</p>
    <p>123 Imaginary Street, South Jakarta</p>
    <div class="footer-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/products">Products</a>
        <a href="/contact">Contacts</a>
    </div>
</footer>