# Dependencies and AdonisJS build
node_modules/
build/

#sqlite3 folder
tmp/*
!tmp/.gitkeep

# Secrets
.env
.env.local
.env.production.local
.env.development.local

# Logs
npm-debug.log
yarn-error.log

# Editors
.fleet/
.idea/
.vscode/

# OS
.DS_Store
