/* -------- LOGIN PAGE -------- */

.log-container {
  max-width: 420px;
  margin: 40px auto;
  padding: 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.log-desc {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.log-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.log-input-group {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.log-input-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.log-input-group input {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.log-btn {
  background: #26a25a;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.log-btn:hover {
  background: #1e7f47;
}

.log-switch {
  margin-top: 12px;
}

.log-switch a {
  color: #26a25a;
  font-weight: bold;
}

.password-field {
    position: relative;
    display: flex;
    align-items: center;
}

.password-field input {
    width: 100%;
    padding-right: 40px;
}

.toggle-pass {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    opacity: 0.6;
    transition: 0.2s ease;
}

.toggle-pass:hover {
    opacity: 1;
}
