<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{-- <title>Homework 1 - Products</title> --}}
    <title>{{ title || "Your default title" }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
    @vite('resources/css/footerheader.css')
    @vite('resources/css/userMenu.css')
    @if ($slots.meta)
        {{{ await $slots.meta() }}}
    @endif
</head>

<body>
  <div class="page wrapper">
    @include('partials/flash.edge') 
    <div id="toast-container"></div>

    @include('partials/header.edge')

    <main class="main-content">
      {{{ await $slots.main() }}}
    </main>

    @include('partials/footer.edge')
  </div>
</body>
@vite('resources/js/toast.js')
@vite('resources/js/search.js')
@vite('resources/js/user_menu.js')
</html>